[submodule "docker-ubuntu-base"]
	path = docker-ubuntu-base
	url = git@github.com:GlobAllomeTree/docker-ubuntu-base.git
[submodule "globallometree"]
	path = globallometree
	url = git@github.com:GlobAllomeTree/GlobAllomeTree.git
[submodule "docker-postgresql"]
	path = docker-postgresql
	url = git@github.com:GlobAllomeTree/docker-postgresql.git
[submodule "docker-elasticsearch"]
	path = docker-elasticsearch
	url = git@github.com:GlobAllomeTree/docker-elasticsearch.git
